In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/walmart-recruiting-store-sales-forecasting/train.csv
/kaggle/input/walmart-recruiting-store-sales-forecasting/sampleSubmission.csv
/kaggle/input/walmart-recruiting-store-sales-forecasting/stores.csv
/kaggle/input/walmart-recruiting-store-sales-forecasting/test.csv
/kaggle/input/walmart-recruiting-store-sales-forecasting/features.csv

In [2]:
train=pd.read_csv("/kaggle/input/walmart-recruiting-store-sales-forecasting/train.csv")
test=pd.read_csv("/kaggle/input/walmart-recruiting-store-sales-forecasting/test.csv")

In [3]:
train.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [4]:
test.head()

   Store  Dept        Date  IsHoliday
0      1     1  2012-11-02      False
1      1     1  2012-11-09      False
2      1     1  2012-11-16      False
3      1     1  2012-11-23       True
4      1     1  2012-11-30      False

In [5]:
y=train["Weekly_Sales"]

In [6]:
train=train.drop(["Date","Weekly_Sales"], axis=1)
test=test.drop("Date", axis=1)

In [7]:
test.head()

   Store  Dept  IsHoliday
0      1     1      False
1      1     1      False
2      1     1      False
3      1     1       True
4      1     1      False

In [8]:
train.head()

   Store  Dept  IsHoliday
0      1     1      False
1      1     1       True
2      1     1      False
3      1     1      False
4      1     1      False

In [9]:
train.dtypes

Store        int64
Dept         int64
IsHoliday     bool
dtype: object

In [10]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor(n_estimators=100, n_jobs=-1)

In [11]:
rf.fit(train,y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                      oob_score=False, random_state=None, verbose=0,
                      warm_start=False)

In [12]:
result=rf.predict(test)

In [13]:
sub=pd.read_csv("/kaggle/input/walmart-recruiting-store-sales-forecasting/sampleSubmission.csv")

In [14]:
sub.head()

               Id  Weekly_Sales
0  1_1_2012-11-02             0
1  1_1_2012-11-09             0
2  1_1_2012-11-16             0
3  1_1_2012-11-23             0
4  1_1_2012-11-30             0

In [15]:
sub["Weekly_Sales"]=result

In [16]:
sub.head()

               Id  Weekly_Sales
0  1_1_2012-11-02  22211.911409
1  1_1_2012-11-09  22211.911409
2  1_1_2012-11-16  22211.911409
3  1_1_2012-11-23  25616.413400
4  1_1_2012-11-30  22211.911409

In [17]:
sub.to_csv("thirdclass.csv", index=False)